* {
    margin  : 0;
    padding : 0;
}

body {
    font-family: sans-serif;
}
h4{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
a{
    text-decoration: none;
}
.nav1,.nav2 {
    color: white;
    font-family: 'Nunito', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding : 20px 0;
}
nav ul {
    display :flex;
    list-style :none;
    width: 40%;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}
.container_1{
    background-color: black;
    padding:20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.content_kiri{
    flex:3;
}
.ajakan{
    color:white ;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
}
.ajakan2{
    color:white ;
    margin-left: 100px;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
}

.font{
    font-family: 'Nunito', sans-serif;
}

.kalimat1{
    color:white ;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.kotak{
    background-color: #ffa500;
    width : 460px;
    height: 60px;
    font-family: 'Secular One', sans-serif;
    margin-top: 15px;
    margin-left: 100px;
    border: solid white;
    text-align: center;
    font-size: 41px;
    color: black;
}

.kotak :hover{
    background-color: black;
    color: #ffa500;
}
.kotak2{
    background-color: black;
    width : 460px;
    height: 60px;
    font-family: 'Secular One', sans-serif;
    margin-top: 15px;
    margin-left: 100px;
    border: solid white;
    text-align: center;
    font-size: 41px;
    color: #ffa500;
}

.kotak2 :hover{
    background-color: #ffa500;
    color: black;
}
.content_kanan{
    flex:3;
}
.gambar{
    margin-top: 50px ;
    margin-bottom: 50px;
    margin-left: 150px;
    height: 380px;
    width: 330px;
}
.sambutan1{
    margin-top: 50px;
    color: white;
    margin-left: 100px;
    margin-bottom: 25px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.sambutanSiswa{
    margin-top: 5px;
    color: white;
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.kalimatSiswa{
    color:white ;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
/*untuk hp*/
@media only screen and (max-width: 600px) {
    nav{
        flex-direction: row;
    }
    .container_1{
        flex-direction: column;
        align-items: center;
    }
    .content_kiri{
        order: 2;
    }
    .kotak{
        width : 310px;
        height: 50px;
        font-size: 35px;
        margin-left: 50px;
    }
    .content_kanan{
        order: 1;
    }
    .ajakan{
        margin-top: 0px;
        margin-left: 50px;
    }
    .gambar{
        margin-top: 10px;
        margin-bottom: 0%;
        margin-left: 25px;
    }
    .kalimat1{
        font-size: 17px;
        margin-left: 50px;
    }
    .ajakan{
        font-size: 40px;
        margin-left: 50px;
    }
    .ajakan2{
        font-size: 40px;
        margin-left: 50px;
    }
}
